<div class="panel panel-default full-height" ng-class="{'designer-main-container': diagram.comments.length > 0}">
  <div class="panel-body full-height" ng-class="{'designer-wrap': !diagram.comments.length}">
    <h1 class="page-header designer-header">
      <a class="btn btn-default" tooltip-placement="bottom" tooltip="<%= back %>"  ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span></a>
      {{diagram.name}}
      <span class="pull-right">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden" id="saveAnimation"></span>
        <a class="btn btn-primary pull-right" tooltip-placement="bottom" tooltip="<%= save %>" ng-click="save(diagram)"><span class="glyphicon glyphicon-floppy-save"></span></a>
      </span>
    </h1>
    <div id="designerContainer" class="row full-height designer-main-container-wrap">
      <div class="col-md-4 designer-main-container full-height">
        <accordion close-others="oneAtATime">
          <accordion-group heading="{{diagramType.name}}" ng-repeat="diagramType in diagramTypes">
            <designer-element name="{{shape.name}}" type="{{shape.type}}" tooltip-placement="bottom" tooltip="{{shape.name}}" ng-repeat="shape in diagramType.shapes"></designer-element>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-md-8 full-height">
        <div class="full-height designer-container">
          <designer editable="true"></designer>
        </div>
      </div>
    </div>
    <div ng-show="diagram.comments.length > 0" class="diagram-comment-container">
      <h3><%= comments %></h3>
      <hr>
      <div ng-repeat-start="comment in diagram.comments">
        <p class="diagram-comment">{{comment.text}}</p>
        <span class="diagram-comment-sub-text">{{comment.author}} &#8226; {{comment.creationDate | date:'<%= dateFormat %>'}}</span>
      </div>
      <hr ng-repeat-end>
    </div>
  </div>
  <img id="diagramThumbnail" class="hidden"></img>
</div>