<div class="panel panel-default full-height">
  <div class="panel-body full-height designer-wrap">
    <h1 class="page-header designer-header">
      {{diagram.title}}
      <a class="btn btn-primary pull-right" tooltip-placement="bottom" tooltip="<%= save %>"><span class="glyphicon glyphicon-floppy-save"></span></a>
    </h1>
    <div id="designerContainer" class="row full-height designer-main-container-wrap">
      <div class="col-md-4 designer-main-container full-height">
        <accordion close-others="oneAtATime">
          <accordion-group heading="{{diagramType.name}}" ng-repeat="diagramType in diagramTypes">
            <designer-element type="{{shape.type}}" tooltip-placement="bottom" tooltip="{{shape.name}}" ng-repeat="shape in diagramType.shapes"></designer-element>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-md-8 full-height">
        <div class="full-height designer-container">
          <designer></designer>
        </div>
      </div>
    </div>
  </div>
</div>