<h1 class="page-header">
  Diagramme
  <span class="pull-right form-inline">
    <input class="form-control" type="text" placeholder="Suche" ng-model="searchText">
    <a class="btn btn-default" href="#/addDiagram"><span class="glyphicon glyphicon-plus"></span> Add new</a>
  </span>
</h1>
<div class="row" ng-repeat-start="diagram in diagrams | filter:searchText | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage">
  <div class="col-md-7">
    <a href="#/diagram/{{diagram._id}}">
      <img class="img-responsive" src="http://placehold.it/700x300" alt="{{diagram.name}}">
    </a>
  </div>
  <div class="col-md-5">
    <h3>{{diagram.name}}</h3>
    <p ng-bind-html="diagram.description|nl2br"></p>
    <a class="btn btn-default" href="#/diagramInformation/{{diagram._id}}"><span class="glyphicon glyphicon-pencil"></span> Update Information</a>
    <a class="btn btn-primary" href="#/diagram/{{diagram._id}}">Edit Diagram <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<hr ng-repeat-end>
<div class="text-center">
  <pagination ng-model="currentPage" total-items="diagrams.length" items-per-page="numPerPage" max-size="maxSize" boundary-links="true"></pagination>
</div>