<div class="panel panel-default">
  <div class="panel-body">
	Diese MEAN-Homepage ist in einem Mittelstufenprojekt durch:
	<br /><br /><b>
	Schulzentrum Sek. II Utbremen<br />
	Meta-Sattler-Stra&szlig;e 33<br />
	28217 Bremen</b>
	<br /><br />
	und die Programmierer:
	<br /><br />
	<ul class="list-group">
      <li class="list-group-item"><b>Tobias K&ouml;lpin</b></li>
      <li class="list-group-item"><b>Tim M&ouml;nkem&ouml;ller</b></li>
      <li class="list-group-item"><b>Dennis Stumm</b></li>
    </ul>
	entstanden.
  </div>
</div>