<div flex class="signin-main-container">
  <md-toolbar layout="row" layout-align="space-between center">
    <h2>Register</h2>
    <h2>or</h2>
    <h2>Login</h2>
  </md-toolbar>
  <md-content>
    
  </md-content>
</div>