<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">My user data</div>
      <div class="panel-body">
        <form class="form-horizontal" ng-controller="user" ng-submit="changeUser()">
          <div class="form-group">
            <label for="forename" class="col-sm-3 control-label">Forename </label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="forename" placeholder="Forename" ng-model="forename" />
            </div>
          </div>
          <div class="form-group">
            <label for="surname" class="col-sm-3 control-label">Surname</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="surname" />
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">E-Mail</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="email" placeholder="E-Mail" ng-model="email" />
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username </label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">My login data</div>
      <div class="panel-body">
        <form class="form-horizontal" ng-controller="pass" ng-submit="changePass()">
          <div class="form-group">
            <label for="currPass" class="col-sm-3 control-label">current password</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="currPass" placeholder="current password" ng-model="currPass" />
            </div>
          </div>
          <div class="form-group">
            <label for="newPass" class="col-sm-3 control-label">new password </label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="newPass" placeholder="new password" ng-model="newPass" />
            </div>
          </div>
          <div class="form-group">
            <label for="newPassAgain" class="col-sm-3 control-label">repeat new password</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="newPassAgain" placeholder="repeat new password"
                ng-model="newPassAgain" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
              <button type="submit" class="btn btn-primary">Save</button>
              &nbsp;
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading">Delete my account</div>
      <div class="panel-body">
        <form class="form-horizontal" ng-controller="delete" ng-submit="deleteAccount()">
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5"">
              <p class="help-block">
                *<sup>1</sup> Warning:<br /> Your account will be deleted irrevocably. When you deleted this account,
                we cannot recovery your data and your saved projects. Please recover your data yourself before you
                delete this account.
              </p>
              <div class="checkbox">
                <label> <input type="checkbox" ng-model="assignment"> Yes, I want delete my account
                  irrevocably and I also have read the notices which are shown in *<sup>1</sup>.
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
              <button type="submit" class="btn btn-danger">Delete Account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>