body * {
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
}
#header {
	padding: 10px;
	border: 1px solid black;
}
#header table {
	width: 100%;
	border: 0px solid transparent;
	border-collapse: collapse;
	border-spacing: 0px;
}
#header table tr td {
	vertical-align: middle;
}
img#logo {
	width: 100px;
	height: 100px;
	margin-right: 30px;
	display: block;
	float: left;
}
h2#title {
	font-size: 25pt;
}
td div#navbar {
	float: right;
}
div#navbar a.nav {
	float: right;
	display: block;
	width: 100px;
	padding: 5px;
	margin-left: 10px;
	border: 1px solid #000000;
	text-align: center;
	text-decoration: none;
}
div#navbar a.nav:hover, div#navbar a.active {
	background-color: #DDDDDD;
	text-decoration: none;
}
div article {
    width: 600px;
	border: 1px solid #000000;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
}
div table {
	width: 600px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	border-collapse: collapse;
	border: 1px solid #000000;
}
div table thead tr td {
	padding: 5px;
	text-align: center;
	font-size: 15pt;
}
div table thead tr td {
	border-bottom: 1px solid #000000;
}
div table thead tr td:nth-child(1), div table thead tr td:nth-child(3) {
	width: 270px;
}
div table tbody tr td:nth-child(1), div table tbody tr td:nth-child(2) {
	padding: 5px;
	border: 0px solid transparent;
	vertical-align: top;
	width: 300px;
}
div table tbody tr td.border {
	border-right: 1px solid #000000;
}
div table tbody tr td table {
	width: 100%;
	margin-top: 0px;
	border: 0px solid transparent;
}
div table tbody tr td table tr td {
	border: 0px solid transparent;
	border-right: 0px solid transparent;
}
div table tbody tr td table tr td button {
	float: right;
	background-color: #DDDDDD;
	margin-top: 10px;
}	