html, body {
  min-height: 100%;
  height: 100%;
}

body {
  padding-top: 100px;
  padding-bottom: 50px;
}

.logo {
  max-height: 75px;
  height: 75px;
  padding: 0;
  font-size: 1.75em;
}

.logo div, .logo img {
  display: inline-block;
}

.logo img {
  width: 75px;
  height: 75px;
  min-width: 75px;
}

.brainworks-navigation {
  margin-right: 0.5%;
}

.brainworks-navigation > li > a {
  line-height: 75px;
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  height: 100%;
}

.signin-header-center,
.signin-header {
  font-weight: bold;
}

.signin-header {
  text-align: center;
}

.has-error > div > span {
  color: #ff0039;
}

.has-success > div > span {
  color: #3fb618;
}

.diagram-description {
  white-space: pre-wrap;
}

.designer-element {
  heigth: 50px;
  width: 100px;
  border-style: solid;
}
